@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F7FAFC; /* Fallback */
    font-family: 'Padauk', sans-serif;
  }
  
  .dark body {
    background-color: #0f172a;
  }
}

/* Custom scrollbar for cleaner look */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #C7CEEA; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A0AEC0; 
}